{% extends "base.html" %}

{% block body %}
<div style="padding-top: 20px;">
    <div class="row mx-3" style="padding-top: 20px;">
        <!-- Card con la informacion del viaje y el form con #tiquetes -->
        <div class="col">
            <div class="col ml-3 card text-white bg-dark mb-3" style="max-width: 40rem;">
                <div class="card-header">Detalles del viaje</div>
                <div class="card-body">
                    <p class="card-text">
                        Destino                :     {{ viaje.destino }} <br></br>
                        Fecha y hora del viaje :     {{ viaje.fecha_salida }} (mm/dd/aaa) <br></br>
                        Cupos Disponibles      :     {{ viaje.asientos_disponibles }} <br></br>
                        Precio asiento         :     {{ viaje.precio_asiento }} <br></br>
                    </p>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Cantidad de tiquetes</label>
                        <form method="post" action="{% url 'cantidadTiquetes' %}">
                            {% csrf_token %}
                            <input type="hidden" name="viaje_id" value="{{ viaje.id }}">
                            <select name="selectField" class="form-select" id="exampleSelect1" fdprocessedid="bcew33">
                                {% with viaje.asientos_disponibles|add:"0" as asientos %}
                                {% for i in ''|rjust:asientos %}
                                    <option>{{ forloop.counter }}</option>
                                {% endfor %}
                                {% endwith %}
                            </select>
                            <div style="padding-top: 10px;">
                                <button type="submit" class="btn btn-light" fdprocessedid="rcrzlb">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card con el formulario que se despliega dependiendo del #tiquetes -->
        {% if selected_value is not None %}
            {% if success %}
                <div class="alert alert-success" role="alert">
                    Reserva realizada----(saltando la pasarela de pago)
                    <a href="{% url 'index2' %}" class="alert-link">Volver a la pagina inicial.</a>
                </div>
            {% else %}
                <div class="col">
                    <!-- form emergente a la derecha -->
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="card bg-light mb-3">
                                <div class="card-header">
                                    <i class="fa-solid fa-box-archive"></i> Reservar
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'reservar' %}" method="post">
                                        {% csrf_token %}

                                        <div class="form-row">
                                            {% for field in form %}
                                                <div class="form-group col-md-12">
                                                    {{ field.label_tag }} {{ field }} 
                                                    {{ field.errors }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button type="submit" class="btn btn-light" fdprocessedid="rcrzlb">Aceptar</button>
                                        <a href="{% url 'index2' %}" class="btn btn-secondary btn-light">Cancelar</a>
                                    </form>   
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock body %}